*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar{
    background: repeating-linear-gradient(
        to bottom,
        rgb(120, 121, 120),
       #090a0a);
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(to top,
    rgb(153, 153, 243) ,
    rgb(150, 240, 179));
    height: 20px;
    border-radius: 10px;
}
/*main-container div>container div + hiding div*/
.main-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: transparent;
}
/*navbar div*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background: transparent;
}
/*left div*/
.navbar >.left{
    display: flex;
    justify-content: center;
}
.m-logo{
    display:flex;
    justify-content: center;
    width: 40px;
    height: 25px;
}
.m-logo img{
    align-content: center;
    width:35px;
    height: 100%;  
}
.m-logo img:hover{
    align-content: center;
    width:35px;
    height: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px brown;
}
.right
{
    display: flex;
    justify-content: space-around;
}
.colorpicker{
    display:flex;
    justify-content: center;
    width: 30px;
    height: 30px;margin-right: 5vw;
    background-color: rgb(10, 19, 18);
    border-radius: 10px;
}
.colorpicker img{
    width: 23px;
    height: 23px;
}
/*right div*/
.brand{
    letter-spacing: 3px;
    font-family: fantasy;
    color:black;
    transform-style: preserve-3d;
}
/*contact-form div*/
.contact-form{
    margin-left: 2%;
    margin-bottom: 2%;
}
form{
    display: none;
    background: transparent;
    width: 70%;
    height: auto;
    text-align: center;
}
form h3{
    margin-top: 0;
    font-size: 18px;
    font-family: monospace;
}
form input,textarea{
    background-color: transparent;
    border: none;
    width: 70%;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
#msg{
    font-size: 17px;
}
input{
    height: 30px;
}
#sm{margin-bottom: 10px;
    width: 100px;
    height: 35px;
    font-size: 19px;
    font-family: monospace;
    border: none;
    border: 2px rosybrown;
    border-radius: 5px;
    background-color: #1e1e26;
}
/*embed 3 divs*/
.three-columns{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
/*profile-photo div*/
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgimg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 15px solid #1e1e26;
    background-image:url(pro-img.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-clip: content-box;
}
/*name div*/
h1{
    margin-bottom: 0;
   color: teal;
}
.name h1{
    color: black;
    font-family: 'Monteserrat',sans-serif;
}
.name{
    text-overflow: clip;
text-align: center;
}
.name #h{
    text-shadow:1px 1px forestgreen;
    font-size: 50px;
    letter-spacing: 2px;
    color:black;
    margin: 0;
    font-family: 'Monteserrat',sans-serif;
    padding-bottom: 35px;
    padding-top: 10px;
}
/*about me div*/
.about-me{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.about-me button{
    width: 200px ;
    background: linear-gradient(#400758,#142c96);
    border: none;
    border-radius: 15px;
    color: white;
    height: 40px;
}
.boxes{
    display: none;
    position: absolute;
    right: 20px;
    justify-content: space-between;
    width: 30%;
    margin: auto;
    height: auto;
   padding: auto;
}
.box{
    width: 35px;
    height: 40px;
    background-color: transparent;
}
.box button{
    width: 19px;
    height: 19px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 1px 1px 0px #000000;
}
#wv{
    background: linear-gradient(45deg,white 40%,rgb(65, 8, 90) 50%);
}
#rd{
    background: linear-gradient(45deg,#a80e28 50%,black 50%);
}
#wd{
    background: linear-gradient(45deg,white 50% ,black 50%  );
}
#yv{
    background: linear-gradient(to bottom,yellow 50%,#340758 50% );
}
section{
    min-height: 90vh;
    height: fit-content;
    margin: auto ;
    background-color: transparent;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    align-items: center; 
}
#two{
color: slategrey;
height: 70vh;
}
#two .image h1{
    color:white;
    font-size: 25px;
    font-family:'Josefin Sans', sans-serif;
    margin-bottom: 0;
}
#par{
    margin-top: 0;
    font-size: 20px;
}
#one{
    height: 80vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    align-items: center;
}
.image1 {
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
}
.image1 img{
    max-width: 300px;
    width: 90%;
}
#h5{
    
    font-size: 30px;
    font-family: 'Merriweather',serif;
}
#one #h5{
    color: #340758;
    font-size: 50px;
    text-transform:uppercase ;
    font-family: 'Merriweather',serif;
}
#three{
    color: transparent;
    display:grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-width: 50%;
    font-weight: 900;
    font-size: 17px;
    background-color: transparent;
    margin: 0 auto 50px auto;
    color: white;
}
#three .image,#two .image{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px #1e1e26;
    padding: auto;
    margin: 0 auto 50px auto;
    color: white;
    background:linear-gradient(#1e1e26,black);
}
#four .image{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px #1e1e26;
    padding: auto;
    margin: 0 auto 50px auto;
    color: white;
    background:linear-gradient(#1e1e26,black);
}
#two .image{
    display: grid;
    place-items: center;
    background: transparent;
}
.lcont{
    width:100px;
    background:linear-gradient(#5d08ad,#983593);
    box-shadow: 0px 0px 0px 0px #333;
    height: 160px;
    transform:translateY(95px) ;
    z-index: 11;
    width:90%;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.image:hover .lcont{
    background: transparent;
    transform: translateY(0px);
    box-shadow: 1px 20px 20px 0px transparent;
}
.item{
    width:90%;
    background:linear-gradient(#5d08ad,#983593);
    box-shadow: 1px 5px 5px 1px black;
    height: 160px;
    transform:translateY(-80px) ;
    z-index: 1;
    padding: 0px 0;
    transition: all .5s;
}
.image:hover .item{
    box-shadow: 0px 0px 0px 0px #333;
    transform:translateY(0px) ;
}
#three .image img{
    width: 80px;
    height:80px;
    margin:80px auto 0 auto;
}
#four .image img{
    width: 80px;
    height:80px;
    margin:80px auto 0 auto;
}
#three h1,#four h1{
 font-size: 27px;
 font-weight: 800;
 font-family: 'Josefin Sans',sans-serif;
}
/*footer section*/
.ftr{transition: all 3s linear;
    display: block;
    text-align: center;
    background:linear-gradient(#142c96,#1e1e26);
    width: 100%;
    height: 150px;
    color: black;
    margin: auto;
    font-family: monospace;
}
footer p{
    font-weight: 600;
    font-size: 19px;
    font-family:monospace;
    padding: 20px 0 0 0;
}
.social{
    width: 60%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
}
.sc{
    width: 30px;
    cursor: hand;
    height: 30px;
    border-radius: 3px;    
}
.sc:hover{
    box-shadow: 1px 1px black;
}
.sc img{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

@media all and (max-width:900px){
    .bgimg{
        height: 180px;
        width: 180px;
    }
    .name #h{
        font-size: 30px;
    }
    .box button{
        width: 18px;
        height: 18px;
       }
    #three{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image1 img{
        width:90%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    #two .image{
        background: transparent;
    }
    #three .image,#two .image,#four .image{
        width: 300px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 1px 4px 4px 1px #1e1e26;
        padding: auto;
        margin: 50px auto;
        background-color: #1e1e26;
    }
}
@media all and (max-width:500px){
    .bgimg{
        height: 150px;
        width: 150px;
    }
    .name #h{
        font-size: 31px;
        font-family: 'Montessero',sans-serif;
    }
    #three{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #two .image{
        background: transparent;
    }
    .box button{
        width: 16px;
        height: 16px;
         }
    .image1 img{
        width:250px;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    #one{
        height: 60vh;
    }
    #three .image,#two .image,#four .image{
        max-width: 400px;
        width: 90vw;
        height: 350px;
        border-radius: 10px;
        box-shadow: 1px 3px 3px 1px black;
        padding: 0;
        margin: 50px auto;
        background-color: #1e1e26;
    }
}
